<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Lista de Tareas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input 
      label="Nueva Tarea" 
      labelPlacement="stacked" 
      [(ngModel)]="newTaskStr" 
      placeholder="Ejem: Estudiar typescript">
    </ion-input> 
  </ion-item>
  
  <ion-button expand="block" color="secondary" (click)="addTask()"> Agregar Tarea </ion-button>

  <ion-list>
    @for( task of tasks; track task.id){
      <ion-item>
        <ion-label>{{ task.titulo }}</ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-alert
    [isOpen]="isAlertOpen"
    header="Error de Validación"
    [message]="alertMessage"
    [buttons]="alertButtons"
    (didDismiss)="isAlertOpen = false">
  </ion-alert>
</ion-content>